---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [9]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

def get_City_Zhvi_AllHomes():
    
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    file = 'City_Zhvi_AllHomes.csv'
    housing = pd.read_csv(file)
    housing.replace({'State':states}, inplace = True)
    housing = housing.sort_values(by = ['State','RegionName'], ascending=[True,True])
    return housing

get_City_Zhvi_AllHomes()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
5344,10040,Adamsville,Alabama,Birmingham,Jefferson,5345,60200.0,60800.0,61000.0,60500.0,...,73900,73500,73600,74100,74800,75200,74900,74700,74700,74700
1680,43839,Alabaster,Alabama,Birmingham,Shelby,1681,108400.0,108300.0,107800.0,107500.0,...,151800,152400,152800,153400,154200,154900,155200,155200,155600,156100
1561,8332,Albertville,Alabama,Albertville,Marshall,1562,67500.0,67200.0,66900.0,66200.0,...,91600,91500,91400,92000,92600,92600,92400,92400,92300,92100
3087,35038,Arab,Alabama,Albertville,Marshall,3088,75000.0,74600.0,74400.0,73900.0,...,112500,112100,111000,109800,109300,109500,110100,110700,111600,112400
5433,57107,Ardmore,Alabama,Huntsville,Madison,5434,NaN,NaN,NaN,NaN,...,144200,143100,142200,142500,143000,143200,143400,143100,142300,141600
8799,23564,Axis,Alabama,Mobile,Mobile,8800,NaN,NaN,NaN,NaN,...,109500,109000,109600,110300,110900,111700,112300,112600,112800,112700
9914,44007,Baileyton,Alabama,Cullman,Cullman,9915,NaN,NaN,NaN,NaN,...,97200,97400,97200,96600,96500,97500,99100,100100,101300,103100
3030,3562,Bay Minette,Alabama,Daphne,Baldwin,3031,66300.0,66500.0,68100.0,69400.0,...,121700,122000,121300,120300,119200,118500,118300,118200,118300,118700
9801,10284,Bayou La Batre,Alabama,Mobile,Mobile,9802,41000.0,40300.0,40100.0,39600.0,...,48900,48600,48700,48700,48300,47800,47800,47900,47600,47200
2125,16997,Bessemer,Alabama,Birmingham,Jefferson,2126,NaN,NaN,NaN,NaN,...,59500,59600,59600,59800,59900,59700,59900,60000,59900,59700
120,10417,Birmingham,Alabama,Birmingham,Jefferson,121,46000.0,45900.0,45900.0,46000.0,...,63200,62600,62400,62000,61700,61600,61700,61600,61300,61200
5093,3732,Boaz,Alabama,Albertville,Marshall,5094,66000.0,65600.0,65000.0,63500.0,...,86700,86400,85700,85700,86500,87100,87300,87700,88300,88900
7767,3798,Brent,Alabama,Birmingham,Bibb,7768,79800.0,79900.0,80200.0,81000.0,...,96000,95200,94400,94700,94200,93200,91500,89400,87900,87400
7865,37574,Brighton,Alabama,Birmingham,Jefferson,7866,NaN,NaN,NaN,NaN,...,45900,45300,44700,44800,45600,45500,44400,43400,43700,44300
6497,3842,Brookwood,Alabama,Tuscaloosa,Tuscaloosa,6498,88600.0,87100.0,86500.0,86800.0,...,118400,118100,116600,114900,114200,113500,111900,110500,109200,108100
9866,17223,Buhl,Alabama,Tuscaloosa,Tuscaloosa,9867,81300.0,81000.0,81900.0,82800.0,...,146400,146300,142300,138900,138200,137500,135800,133400,130000,126700
3509,44402,Calera,Alabama,Birmingham,Shelby,3510,91700.0,91800.0,91900.0,91900.0,...,128500,128800,129300,129700,129900,130000,130000,129800,129600,129600
4543,44519,Center Point,Alabama,Birmingham,Jefferson,4544,67600.0,67800.0,68100.0,68500.0,...,80800,81100,81600,82000,82500,82800,83000,83300,83800,84200
6328,44535,Centreville,Alabama,Birmingham,Bibb,6329,80700.0,80700.0,80700.0,81700.0,...,101900,102200,103300,103700,102700,101500,100400,99000,98400,98600
9020,103474,Chalkville,Alabama,Birmingham,Jefferson,9021,78400.0,78800.0,78600.0,78500.0,...,111300,110600,110800,111700,113000,113800,114400,115000,115600,115800
9285,4043,Chancellor,Alabama,Enterprise,Coffee,9286,NaN,NaN,NaN,NaN,...,110000,109700,110900,113200,115800,118800,120800,121400,121500,121500
10035,37845,Chelsea,Alabama,Birmingham,Shelby,10036,147300.0,146000.0,144300.0,142900.0,...,208000,208600,209100,209000,209500,210500,211500,212200,213500,214900
5025,30870,Chickasaw,Alabama,Mobile,Mobile,5026,44700.0,45000.0,45300.0,45400.0,...,58500,58400,58100,57700,57500,57200,57000,57000,56800,56400
7949,8211,Chunchula,Alabama,Mobile,Mobile,7950,62900.0,64000.0,65100.0,65900.0,...,123800,123100,122800,122500,122200,122500,123400,124100,124300,124400
4416,48822,Citronelle,Alabama,Mobile,Mobile,4417,53400.0,53000.0,52900.0,52800.0,...,94100,93200,93000,93400,93700,93900,94000,94000,93800,93700
9837,57092,Clay,Alabama,Birmingham,Jefferson,9838,99700.0,99700.0,100300.0,101100.0,...,141700,142200,142700,143000,143400,144000,144500,145000,145600,146100
9557,24145,Coden,Alabama,Mobile,Mobile,9558,56200.0,55800.0,55800.0,55800.0,...,80500,80300,80700,81200,81400,81900,82300,81900,81000,80100
9144,44672,Coker,Alabama,Tuscaloosa,Tuscaloosa,9145,108500.0,107600.0,107900.0,108400.0,...,155300,155400,152800,150400,149700,149000,147200,145400,144000,143100
9948,37993,Concord,Alabama,Birmingham,Jefferson,9949,68000.0,67400.0,67300.0,68000.0,...,111000,112300,112800,112400,111800,111500,111700,112600,113600,114100
3882,36819,Cottondale,Alabama,Tuscaloosa,Tuscaloosa,3883,92800.0,92700.0,92200.0,91800.0,...,138000,138000,136100,134000,133400,133900,134200,134000,133600,133500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,398534,Vernon,Wisconsin,Milwaukee,Waukesha,6233,NaN,NaN,NaN,NaN,...,263200,263300,262800,263700,265500,266900,268400,269200,272000,276200
8354,398543,Vienna,Wisconsin,Madison,Dane,8355,NaN,141700.0,143300.0,144500.0,...,282000,281800,281600,284200,286600,286100,285500,285800,288100,291000
7989,396938,Vinland,Wisconsin,Oshkosh,Winnebago,7990,121200.0,124500.0,126400.0,127000.0,...,182100,182300,182500,183000,183900,185100,186400,188000,189400,190100
10357,48303,Wales,Wisconsin,Milwaukee,Waukesha,10358,NaN,NaN,NaN,NaN,...,267600,267600,266900,267800,270600,273400,276200,277400,280300,284500
6456,399085,Waterford,Wisconsin,Racine,Racine,6457,147000.0,145100.0,144200.0,143900.0,...,230200,229800,230300,230400,230900,233200,235200,236100,237000,238200
819,34683,Waukesha,Wisconsin,Milwaukee,Waukesha,820,NaN,NaN,NaN,NaN,...,190500,190900,190500,190900,192000,193200,194200,194500,197000,201000
7609,34685,Waunakee,Wisconsin,Madison,Dane,7610,NaN,151400.0,153400.0,154200.0,...,297500,297300,297700,299600,300800,301600,303200,304600,306700,309500
2963,55059,Waupun,Wisconsin,Fond du Lac,Fond du Lac,2964,64900.0,66600.0,67700.0,68900.0,...,109800,109500,109400,110600,112300,112800,112600,112400,112600,112900
1653,14501,Wausau,Wisconsin,Wausau,Marathon,1654,54800.0,55900.0,56700.0,57200.0,...,94700,93700,93600,93700,94500,95800,96900,97800,98200,98200
8087,397462,Wayne,Wisconsin,Milwaukee,Washington,8088,NaN,NaN,NaN,NaN,...,256600,258000,259800,262200,263600,264900,266900,269600,271700,272800
654,34721,West Allis,Wisconsin,Milwaukee,Milwaukee,655,73200.0,74200.0,75200.0,75400.0,...,99900,101700,102000,100800,99900,100000,97900,95800,95600,96100
4209,21260,Weston,Wisconsin,Wausau,Marathon,4210,68500.0,68400.0,68800.0,69500.0,...,138800,139000,139800,140300,140400,140900,142100,143700,144700,144900
6743,398205,Wheatland,Wisconsin,Chicago,Kenosha,6744,110500.0,109500.0,108500.0,108200.0,...,176200,177500,179200,182300,185200,187300,189000,190700,193000,196000
8933,29264,Whitelaw,Wisconsin,Manitowoc,Manitowoc,8934,78000.0,81400.0,82100.0,81700.0,...,117900,118200,117800,117200,116700,116800,117400,118000,117800,117400
9097,41713,Williams Bay,Wisconsin,Whitewater,Walworth,9098,147500.0,146600.0,145900.0,145500.0,...,225700,226600,229100,230700,234900,242800,250100,252300,254000,256300
7955,398518,Wilson,Wisconsin,Sheboygan,Sheboygan,7956,107300.0,104500.0,102900.0,102200.0,...,166200,168300,169700,170400,171300,173000,175000,176600,177900,178800
9821,55222,Wilson,Wisconsin,Minneapolis-St Paul,Saint Croix,9822,NaN,NaN,NaN,NaN,...,188600,189300,188800,188600,189800,192500,197200,202100,205200,207200
7224,15992,Wind Lake,Wisconsin,Racine,Racine,7225,147500.0,145000.0,143100.0,143500.0,...,241700,241700,241600,240700,240200,242000,244000,245600,247700,250000
9464,254727,Wind Point,Wisconsin,Racine,Racine,9465,167500.0,166800.0,166000.0,164700.0,...,249400,252000,254000,254100,255100,258300,260900,259300,258100,258800
5827,29435,Wisconsin Dells,Wisconsin,Madison,Columbia,5828,86800.0,86400.0,86400.0,86800.0,...,140600,139700,139400,139700,140200,140700,140900,141400,142500,143500
9636,397938,Wolf River,Wisconsin,Oshkosh,Winnebago,9637,93100.0,92500.0,92300.0,93100.0,...,163200,162100,160200,159300,159000,158800,160200,163800,167100,169000
7429,34904,Woodruff,Wisconsin,NaN,Vilas,7430,NaN,NaN,NaN,NaN,...,165600,163900,162800,162400,162400,161900,161600,162400,163700,164700
8589,14720,Woodville,Wisconsin,Minneapolis-St Paul,Saint Croix,8590,NaN,NaN,NaN,NaN,...,182100,183000,183100,182400,182400,184000,186700,189300,192000,194200
5901,398781,Yorkville,Wisconsin,Racine,Racine,5902,163000.0,162400.0,161200.0,159200.0,...,244100,246500,248800,248800,247800,250400,255300,259900,264100,267800
10602,50851,Bar Nunn,Wyoming,Casper,Natrona,10603,NaN,NaN,NaN,NaN,...,211500,211200,211200,210300,209100,209000,209000,208500,207700,207200
10091,23888,Burns,Wyoming,Cheyenne,Laramie,10092,NaN,NaN,NaN,NaN,...,164100,164500,166800,168500,169500,171100,172100,171600,170700,170300
575,4002,Casper,Wyoming,Casper,Natrona,576,NaN,NaN,NaN,NaN,...,182300,182600,184000,184500,184500,184900,185400,185200,184600,184100
374,44571,Cheyenne,Wyoming,Cheyenne,Laramie,375,NaN,NaN,NaN,NaN,...,190500,191900,193800,194700,194800,195500,196400,197600,198800,199400
9983,11364,Evansville,Wyoming,Casper,Natrona,9984,NaN,NaN,NaN,NaN,...,303900,306600,308200,309700,310400,310200,308800,308600,308800,309300
10031,19945,Pine Bluffs,Wyoming,Cheyenne,Laramie,10032,NaN,NaN,NaN,NaN,...,169600,169300,168400,166300,165800,166600,164500,160300,158000,157300

In [10]:
def get_gdplev():
    
    file2 = 'gdplev.xls'
    xls = pd.ExcelFile(file2)
    GDP = xls.parse(0, skiprows = 220, header = None)
    GDP = GDP.drop(GDP.columns[[0,1,2,3,6,7]], axis = 1)
    GDP.rename(columns = {4:'Quarters',5:'GDP'}, inplace = True)
    return GDP

get_gdplev()

   Quarters      GDP
0    2000q1  10031.0
1    2000q2  10278.3
2    2000q3  10357.4
3    2000q4  10472.3
4    2001q1  10508.1
5    2001q2  10638.4
6    2001q3  10639.5
7    2001q4  10701.3
8    2002q1  10834.4
9    2002q2  10934.8
10   2002q3  11037.1
11   2002q4  11103.8
12   2003q1  11230.1
13   2003q2  11370.7
14   2003q3  11625.1
15   2003q4  11816.8
16   2004q1  11988.4
17   2004q2  12181.4
18   2004q3  12367.7
19   2004q4  12562.2
20   2005q1  12813.7
21   2005q2  12974.1
22   2005q3  13205.4
23   2005q4  13381.6
24   2006q1  13648.9
25   2006q2  13799.8
26   2006q3  13908.5
27   2006q4  14066.4
28   2007q1  14233.2
29   2007q2  14422.3
..      ...      ...
36   2009q1  14383.9
37   2009q2  14340.4
38   2009q3  14384.1
39   2009q4  14566.5
40   2010q1  14681.1
41   2010q2  14888.6
42   2010q3  15057.7
43   2010q4  15230.2
44   2011q1  15238.4
45   2011q2  15460.9
46   2011q3  15587.1
47   2011q4  15785.3
48   2012q1  15973.9
49   2012q2  16121.9
50   2012q3  16227.9
51   2012q4  16297.3
52   2013q1  16475.4
53   2013q2  16541.4
54   2013q3  16749.3
55   2013q4  16999.9
56   2014q1  17025.2
57   2014q2  17285.6
58   2014q3  17569.4
59   2014q4  17692.2
60   2015q1  17783.6
61   2015q2  17998.3
62   2015q3  18141.9
63   2015q4  18222.8
64   2016q1  18281.6
65   2016q2  18450.1

[66 rows x 2 columns]

In [11]:
def get_list_of_university_towns():
    
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    fhand = open('university_towns.txt') 
    university = pd.read_table('university_towns.txt', sep="\n",names=["States"])
    university['State'] = university.States.str.extract('(.*)\[edit\]', expand=False).ffill()
    university['RegionName'] = university.States.str.replace(r'\s+\(.+$', '')
    university = university[~university.States.str.contains('\[edit\]')].reset_index(drop=True).drop('States', axis=1)
    return university

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [12]:
def join_tables():
    
        inner = pd.merge(get_list_of_university_towns(), get_City_Zhvi_AllHomes(), how = "inner", left_on = ['RegionName','State'], right_on = ['RegionName','State'])
        return inner.head()
    
join_tables()

,State,RegionName,RegionID,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,Alabama,Montevallo,19437,Birmingham,Shelby,3340,85600.0,85900.0,85500.0,84600.0,...,119700,120200,121000,121800,122300,122600,122500,122100,121600,121400
1,Alabama,Tuscaloosa,14208,Tuscaloosa,Tuscaloosa,288,95800.0,95600.0,95700.0,95500.0,...,145300,144400,142100,139900,138900,138500,137800,137800,138400,138900
2,Alaska,Fairbanks,38465,Fairbanks,Fairbanks North Star,839,NaN,NaN,NaN,NaN,...,209700,209600,208800,208700,209700,211200,213000,214600,215600,216100
3,Arizona,Flagstaff,31567,Flagstaff,Coconino,388,140700.0,141000.0,141500.0,142800.0,...,310100,310500,310800,311900,314100,316600,318500,320200,322000,323300
4,Arizona,Tempe,47958,Phoenix,Maricopa,153,95400.0,95900.0,96300.0,96700.0,...,237900,239700,240800,241900,243000,244000,245000,246000,246700,247200

In [13]:
def get_recession_start():

    GDP = get_gdplev()
    quarter = []
    for i in range(len(GDP) -2):
        if (GDP.iloc[i]['GDP'] > GDP.iloc[i+1]['GDP']) & (GDP.iloc[i+1]['GDP'] > GDP.iloc[i+2]['GDP']):
            quarter.append(GDP.iloc[i]['Quarters'])
    return quarter[0]
    
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''

get_recession_start()

'2008q3'

In [57]:
def get_recession_end():
    
    GDP = get_gdplev()
    quarter = []
    for i in range(len(GDP) -4):
        if (GDP.iloc[i]['GDP'] > GDP.iloc[i+1]['GDP']) & (GDP.iloc[i+1]['GDP'] > GDP.iloc[i+2]['GDP']) & (GDP.iloc[i+2]['GDP'] < GDP.iloc[i+3]['GDP']) & (GDP.iloc[i+3]['GDP'] < GDP.iloc[i+4]['GDP']):
            quarter.append(GDP.iloc[i+4]['Quarters'])
    return quarter[0]

    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
get_recession_end()

'2009q4'

In [58]:
def get_recession_bottom():
    
    GDP = get_gdplev()
    quarter = []
    for i in range(len(GDP) -3):
        if (GDP.iloc[i]['GDP'] >= GDP.iloc[i+1]['GDP']):
            quarter.append(GDP.iloc[i+1])
    return quarter[3][0]

    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
get_recession_bottom()

'2009q2'

In [59]:
#def plot_01():
    #import matplotlib as plt
    #%matplotlib inline
    
    #GDP = get_gdplev()
    #GDP.plot(x = 'Quarters', y = 'GDP', kind = "line")
    
#plot_01()

In [60]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

def convert_housing_data_to_quarters():
    
    housing = get_City_Zhvi_AllHomes()
    GDP = get_gdplev()
    housing = housing.iloc[:, [2,1] + list(range(51, 251))]
    columns_name = []
    columns_values = []
    housing = housing.reset_index().drop('index', axis=1)
    housing = housing.set_index(['State','RegionName'])
    housing.columns = pd.to_datetime(housing.columns)
    housing = housing.resample('Q',axis=1).mean()
    housing = housing.rename(columns=lambda x: str(x.to_period('Q')).lower())
    return housing.head()
    
    
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
          Buhl              90800.000000   94600.000000   96500.000000
          Calera           108933.333333  110366.666667  108000.000000
          Center Point      80966.666667   81233.333333   81500.000000
          Centreville       95300.000000   96566.666667   98000.000000
          Chalkville        94100.000000   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          162066.666667  167033.333333  166900.000000
          Chickasaw         51200.000000   53666.666667   54933.333333
          Chunchula         80266.666667   81766.666667   82200.000000
          Citronelle        64833.333333   66633.333333   68066.666667
          Clay             120900.000000  122266.666667  123966.666667
          Coden             62600.000000   64800.000000   66866.666667
          Coker            118100.000000  120766.666667  118166.666667
          Concord           78600.000000   78700.000000   80133.333333
          Cottondale       100833.333333  102633.333333  104766.666667
...                                  ...            ...            ...
Wisconsin Vernon           183200.000000  178200.000000  174300.000000
          Vienna           178033.333333  181533.333333  182433.333333
          Vinland          119800.000000  126766.666667  134933.333333
          Wales                      NaN            NaN            NaN
          Waterford        121200.000000  119433.333333  120200.000000
          Waukesha         141266.666667  138433.333333  136733.333333
          Waunakee         187400.000000  191433.333333  192666.666667
          Waupun            84000.000000   84000.000000   84400.000000
          Wausau            69566.666667   69466.666667   71033.333333
          Wayne                      NaN            NaN            NaN
          West Allis        80933.333333   81933.333333   84066.666667
          Weston            80166.666667   82700.000000   84166.666667
          Wheatland        129800.000000  132133.333333  134933.333333
          Whitelaw          96033.333333  101433.333333  108033.333333
          Williams Bay     122900.000000  115300.000000  110766.666667
          Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
          Buhl              96566.666667   99266.666667  101966.666667
          Calera           107933.333333  109333.333333  112200.000000
          Center Point      82233.333333   83366.666667   84333.333333
          Centreville       99366.666667   98100.000000   99266.666667
          Chalkville        94433.333333   96066.666667   97433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167400.000000  170633.333333  174300.000000
          Chickasaw         56066.666667   55133.333333   53566.666667
          Chunchula         83400.000000   85400.000000   86100.000000
          Citronelle        67766.666667   67866.666667   70000.000000
          Clay             126500.000000  128033.333333  128300.000000
          Coden             68566.666667   68933.333333   71300.000000
          Coker            115333.333333  114066.666667  115700.000000
          Concord           82800.000000   85133.333333   85800.000000
          Cottondale       105300.000000  106733.333333  109233.333333
...                                  ...            ...            ...
Wisconsin Vernon           177466.666667  186233.333333  190500.000000
          Vienna           186300.000000  190600.000000  191566.666667
          Vinland          137833.333333  144300.000000  148200.000000
          Wales                      NaN            NaN            NaN
          Waterford        121966.666667  127000.000000  133000.000000
          Waukesha         139833.333333  147600.000000  151066.666667
          Waunakee         193733.333333  197333.333333  198500.000000
          Waupun            84533.333333   85100.000000   86600.000000
          Wausau            69833.333333   69866.666667   71366.666667
          Wayne                      NaN            NaN            NaN
          West Allis        80666.666667   79100.000000   80333.333333
          Weston            85800.000000   87266.666667   88500.000000
          Wheatland        137833.333333  142566.666667  143000.000000
          Whitelaw         114000.000000  116333.333333  114966.666667
          Williams Bay     110700.000000  112600.000000  117100.000000
          Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
          Buhl             102000.000000  102733.333333  102533.333333
          Calera           114333.333333  112133.333333  111500.000000
          Center Point      84466.666667   85333.333333   86100.000000
          Centreville      100400.000000  104633.333333  105233.333333
          Chalkville        98400.000000   99366.666667   99866.666667
          Chancellor                 NaN            NaN            NaN
          Chelsea          174900.000000  173300.000000  170566.666667
          Chickasaw         53533.333333   53400.000000   54266.666667
          Chunchula         86733.333333   86566.666667   86166.666667
          Citronelle        71466.666667   70933.333333   69833.333333
          Clay             129233.333333  130466.666667  130900.000000
          Coden             72733.333333   73600.000000   72933.333333
          Coker            118833.333333  122566.666667  122366.666667
          Concord           84866.666667   84766.666667   86366.666667
          Cottondale       109200.000000  109900.000000  109333.333333
...                                  ...            ...            ...
Wisconsin Vernon           193100.000000  197466.666667  201800.000000
          Vienna           193733.333333  194833.333333  198466.666667
          Vinland          147733.333333  151200.000000  149233.333333
          Wales                      NaN            NaN            NaN
          Waterford        139233.333333  143100.000000  145733.333333
          Waukesha         153100.000000  155033.333333  158200.000000
          Waunakee         201266.666667  202100.000000  206100.000000
          Waupun            87666.666667   87100.000000   87533.333333
          Wausau            73100.000000   74033.333333   76400.000000
          Wayne                      NaN            NaN            NaN
          West Allis        81433.333333   82400.000000   84966.666667
          Weston            90066.666667   91766.666667   94833.333333
          Wheatland        143966.666667  142633.333333  143933.333333
          Whitelaw         115666.666667  115866.666667  117766.666667
          Williams Bay     119533.333333  121400.000000  126566.666667
          Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
          Buhl             100100.000000    ...     119233.333333
          Calera           111233.333333    ...     125533.333333
          Center Point      86500.000000    ...      78833.333333
          Centreville      105066.666667    ...      95566.666667
          Chalkville       100733.333333    ...     105233.333333
          Chancellor                 NaN    ...     116400.000000
          Chelsea          171100.000000    ...     197133.333333
          Chickasaw         55000.000000    ...      59000.000000
          Chunchula         86533.333333    ...     120666.666667
          Citronelle        68133.333333    ...      88600.000000
          Clay             131100.000000    ...     134100.000000
          Coden             69100.000000    ...      77566.666667
          Coker            119200.000000    ...     141700.000000
          Concord           90366.666667    ...     104733.333333
          Cottondale       107966.666667    ...     128500.000000
...                                  ...    ...               ...
Wisconsin Vernon           201966.666667    ...     257733.333333
          Vienna           202466.666667    ...     265700.000000
          Vinland          146433.333333    ...     181766.666667
          Wales                      NaN    ...     262133.333333
          Waterford        151266.666667    ...     213133.333333
          Waukesha         157833.333333    ...     181166.666667
          Waunakee         208533.333333    ...     278100.000000
          Waupun            87466.666667    ...     113166.666667
          Wausau            78700.000000    ...      91600.000000
          Wayne                      NaN    ...     238633.333333
          West Allis        87566.666667    ...      90433.333333
          Weston            97600.000000    ...     133233.333333
          Wheatland        146433.333333    ...     169266.666667
          Whitelaw         116800.000000    ...     120433.333333
          Williams Bay     131700.000000    ...     223000.000000
          Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333

In [61]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
def run_ttest():
    new_data = convert_housing_data_to_quarters().copy()
    university = get_list_of_university_towns()
    university = university.set_index(['State','RegionName'])
    university = university.index.tolist()
    new_data = new_data.loc[:,'2008q2':'2009q2']
    new_data['ratio'] = (new_data['2008q2'] - new_data['2009q2'])/new_data['2008q2']
    group_Utown = new_data.loc[university]
    group_town = new_data.loc[-new_data.index.isin(university)]
    # possible d'ajouter .dropna(how = 'all')
    ttest = ttest_ind(group_Utown['ratio'], group_town['ratio'], nan_policy = 'omit')
        
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return (True, ttest[1], 'university town')

run_ttest()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:12: DeprecationWarning: numpy boolean negative, the `-` operator, is deprecated, use the `~` operator or the logical_not function instead.

(True, 0.0033629228768433245, 'university town')