In [1]:
%%capture
!pip install pymongo pprint dateparser matplotlib pandas sklearn numpy seaborn

In [4]:
import pymongo
import pprint
import dateparser
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

%matplotlib inline

In [5]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)
titanic = course_client['coursera-agg']['titanic']

In [128]:
titanic.find_one()

{'_id': ObjectId('59f3769387ef3716f7157ac5'),
 'age': 35,
 'cabin': '',
 'class': 3,
 'fare_paid': 8.05,
 'gender': 'male',
 'name': 'Allen, Mr. William Henry',
 'parents_children': 0,
 'passenger_id': 5,
 'point_of_embarkation': 'S',
 'siblings_spouse': 0,
 'survived': 0,
 'ticket_number': 373450}

In [129]:
initial_project = {
    "$project": {
        "_id": 0,
        "name": 0,
        "point_of_embarkation": 0,
        "ticket_number": 0,
        "passenger_id": 0,
        "cabin": 0,
    }
}

In [130]:
# todo - correct the age.
# *HINT* -- If the $type of "$age" is a string, set it to 0
age_correction = {
    "$switch" : {
        "branches" : [
            {
                "case" : { "$eq" : [ {"$type" : "$age"}, "string"]},
                "then" : 0
            }
        ],
        "default" : "$age"
    }
}

In [131]:
# todo - one hot encode gender_female. 1 if female, 0 if male
one_hot_female = {
    "$switch" : {
        "branches" : [
            {
                "case" : { "$eq" : [ "$gender", "female"]},
                "then" : 1
            },
            {
                "case" : { "$eq" : [ "$gender", "male"]},
                "then" : 0
            }
        ]
    }
}

In [132]:
# todo - the inverse of above. 1 if male, 0 if female
one_hot_male = {
    "$switch" : {
        "branches" : [
            {
                "case" : { "$eq" : [ "$gender", "female"]},
                "then" : 0
            },
            {
                "case" : { "$eq" : [ "$gender", "male"]},
                "then" : 1
            }
        ]
    }
}

In [133]:
encoding_stage = {
    "$addFields": {
        "gender_female": one_hot_female,
        "gender_male": one_hot_male,
        "age": age_correction
    }
}

In [134]:
final_project = {
    "$project": {
        "gender": 0
    }
}

In [135]:
pipeline = [initial_project, encoding_stage, final_project]

In [136]:
df = pd.DataFrame.from_dict(list(titanic.aggregate(pipeline)))
df.head(50)

,age,class,fare_paid,gender_female,gender_male,parents_children,siblings_spouse,survived
0,35.0,3,8.0500,0,1,0,0,0
1,22.0,3,7.2500,0,1,0,1,0
2,4.0,3,16.7000,1,0,1,1,1
3,27.0,3,11.1333,1,0,2,0,1
4,35.0,1,53.1000,1,0,0,1,1
5,20.0,3,8.0500,0,1,0,0,0
6,58.0,1,26.5500,1,0,0,0,1
7,39.0,3,31.2750,0,1,5,1,0
8,55.0,2,16.0000,1,0,0,0,1
9,0.0,2,13.0000,0,1,0,0,1
10,0.0,3,7.2250,1,0,0,0,1
11,14.0,3,7.8542,1,0,0,0,0
12,35.0,2,26.0000,0,1,0,0,0
13,2.0,3,29.1250,0,1,1,4,0
14,34.0,2,13.0000,0,1,0,0,1
15,15.0,3,8.0292,1,0,0,0,1
16,28.0,1,35.5000,0,1,0,0,1
17,8.0,3,21.0750,1,0,1,3,0
18,31.0,3,18.0000,1,0,0,1,0
19,38.0,3,31.3875,1,0,5,1,1
20,19.0,1,263.0000,0,1,2,3,0
21,0.0,3,7.8958,0,1,0,0,0
22,0.0,3,7.8792,1,0,0,0,1
23,0.0,1,146.5208,1,0,0,1,1
24,40.0,1,27.7208,0,1,0,0,0
25,28.0,1,82.1708,0,1,0,1,0
26,0.0,3,7.7500,1,0,0,0,1
27,42.0,1,52.0000,0,1,0,1,0
28,0.0,3,7.2292,0,1,0,0,1
29,0.0,3,7.2250,0,1,0,0,0
30,66.0,2,10.5000,0,1,0,0,0
31,21.0,3,8.0500,0,1,0,0,0
32,14.0,3,11.2417,1,0,0,1,1
33,40.0,3,9.4750,1,0,0,1,0
34,27.0,2,21.0000,1,0,0,1,0
35,3.0,2,41.5792,1,0,2,1,1
36,18.0,3,18.0000,1,0,0,2,0
37,0.0,3,8.0500,0,1,0,0,0
38,0.0,3,8.4583,0,1,0,0,0
39,19.0,3,7.8792,1,0,0,0,1
40,0.0,3,21.6792,0,1,0,2,0
41,38.0,1,71.2833,1,0,0,1,1
42,0.0,3,15.5000,0,1,0,1,0
43,2.0,3,21.0750,0,1,1,3,0
44,0.0,3,7.7500,1,0,0,0,1
45,18.0,3,17.8000,1,0,0,1,0
46,7.0,3,39.6875,0,1,1,4,0
47,49.0,1,76.7292,1,0,0,1,1
48,21.0,3,7.8000,0,1,0,0,0
49,29.0,2,26.0000,1,0,0,1,1

In [137]:
X = df.drop('survived', axis=1)

In [138]:
y = df['survived']

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [140]:
dtree = DecisionTreeClassifier()

In [141]:
%%capture
dtree.fit(X_train, y_train)

In [142]:
predictions = dtree.predict(X_test)

In [143]:
print(confusion_matrix(y_test, predictions))
print("\n")
print(classification_report(y_test, predictions))

[[67 16]
 [16 35]]


             precision    recall  f1-score   support

          0       0.81      0.81      0.81        83
          1       0.69      0.69      0.69        51

avg / total       0.76      0.76      0.76       134

In [144]:
rfc = RandomForestClassifier(n_estimators=20)

In [145]:
%%capture
rfc.fit(X_train, y_train)

In [146]:
rfc_pred = rfc.predict(X_test)

In [147]:
print(confusion_matrix(y_test, rfc_pred))
print("\n")
print(classification_report(y_test, rfc_pred, target_names=['test', 'predictions']))

[[74  9]
 [15 36]]


             precision    recall  f1-score   support

       test       0.83      0.89      0.86        83
predictions       0.80      0.71      0.75        51

avg / total       0.82      0.82      0.82       134

In [148]:
iterations = 1000
dtree_avg_accuracy = 0
rfc_avg_accuracy = 0
for _ in range(iterations):
    dtree.fit(X_train, y_train)
    dtree_avg_accuracy += dtree.score(X_test, y_test)
    rfc.fit(X_train, y_train)
    rfc_avg_accuracy += rfc.score(X_test, y_test)
    
print(f"""
After {iterations} iterations:
  Single Decision Tree accuracy: {dtree_avg_accuracy / iterations}
  Random Forest accuracy:        {rfc_avg_accuracy / iterations}
  
  Lab Answer:  dtree={round(dtree_avg_accuracy / iterations, 2)}, rfc={round(rfc_avg_accuracy / iterations, 2)}
""")

After 1000 iterations:
  Single Decision Tree accuracy: 0.7650000000000047
  Random Forest accuracy:        0.821738805970147

  Lab Answer:  dtree=0.77, rfc=0.82