In [22]:
from pandas.io.json import json_normalize
from pymongo import MongoClient
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pprint

In [23]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = MongoClient(course_cluster_uri)

In [24]:
titanic = course_client['coursera-agg']['titanic']

In [25]:
titanic.find_one()

{'_id': ObjectId('59f3769387ef3716f7157ac5'),
 'age': 35,
 'cabin': '',
 'class': 3,
 'fare_paid': 8.05,
 'gender': 'male',
 'name': 'Allen, Mr. William Henry',
 'parents_children': 0,
 'passenger_id': 5,
 'point_of_embarkation': 'S',
 'siblings_spouse': 0,
 'survived': 0,
 'ticket_number': 373450}

In [26]:
# Replace {} with a stage to determine the possible values for gender.
unique_gender_stage = {
    "$group" : { "_id" : "$gender"}
}

In [27]:
possible_gender_values = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    unique_gender_stage
])

In [28]:
# Print the distinct list of values for the gender field
pprint.pprint(list(possible_gender_values))

[{'_id': 'female'}, {'_id': 'male'}]

In [29]:
# Replace {} with a stage to determine the possible values for point_of_embarkation
unique_point_of_embarkation_stage = {
    "$group" : { "_id" : "$point_of_embarkation"}
}

In [30]:
possible_point_of_embarkation_values = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    unique_point_of_embarkation_stage
])

In [31]:
# Print the distinct list of values for the point_of_embarkation field
pprint.pprint(list(possible_point_of_embarkation_values))

[{'_id': 'Q'}, {'_id': 'C'}, {'_id': 'S'}]

In [53]:
# Given the possible values for point_of_embarkation and gender replace {} with a stage that
# will convert those field values to an integer.
# e.g., For the gender field convert 'female' to 0 and 'male' to 1
gender_and_point_of_embarkation_conversion_stage = {
    "$project" : {
        "age" : 1,
        "cabin" : 1,
        "class" : 1,
        "fare_paid" : 1,
        "gender" : {
            "$cond" : {
                "if" : { "$eq" : ["$gender", "male"]},
                "then" : 1,
                "else" : 0
             }
        },
        "name" : 1,
        "parents_children" : 1,
        "passenger_id" : 1,
        "point_of_embarkation" : {
            "$switch" : {
                "branches" : [
                    {
                        "case" : { "$eq" : ["$point_of_embarkation", "C"]},
                        "then" : 0
                    },
                    {
                        "case" : { "$eq" : ["$point_of_embarkation", "Q"]},
                        "then" : 1
                    },
                    {
                        "case" : { "$eq" : ["$point_of_embarkation", "S"]},
                        "then" : 2
                    }
                ]
            }
        },
        "siblings_spouse" : 1,
        "survived" : 1,
        "ticket_number" :1
    }
}

In [54]:
cursor = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    gender_and_point_of_embarkation_conversion_stage,
    {
        "$project": {
            "_id": 0,
            "ticket_number": 0,
            "name": 0,
            "passenger_id": 0,
            "cabin": 0
        }
    }
])

In [55]:
# Exhaust our cursor into a list
titanic_data = list(cursor)

In [56]:
# Load our dataset into a DataFrame
df = json_normalize(titanic_data)

In [74]:
df.head(50)

,age,class,fare_paid,gender,parents_children,point_of_embarkation,siblings_spouse,survived
0,35.0,3,8.0500,1,0,2,0,0
1,22.0,3,7.2500,1,0,2,1,0
2,4.0,3,16.7000,0,1,2,1,1
3,27.0,3,11.1333,0,2,2,0,1
4,35.0,1,53.1000,0,0,2,1,1
5,20.0,3,8.0500,1,0,2,0,0
6,58.0,1,26.5500,0,0,2,0,1
7,39.0,3,31.2750,1,5,2,1,0
8,55.0,2,16.0000,0,0,2,0,1
9,14.0,3,7.8542,0,0,2,0,0
10,35.0,2,26.0000,1,0,2,0,0
11,2.0,3,29.1250,1,1,1,4,0
12,34.0,2,13.0000,1,0,2,0,1
13,15.0,3,8.0292,0,0,1,0,1
14,28.0,1,35.5000,1,0,2,0,1
15,8.0,3,21.0750,0,1,2,3,0
16,31.0,3,18.0000,0,0,2,1,0
17,38.0,3,31.3875,0,5,2,1,1
18,19.0,1,263.0000,1,2,2,3,0
19,40.0,1,27.7208,1,0,0,0,0
20,28.0,1,82.1708,1,0,0,1,0
21,42.0,1,52.0000,1,0,2,1,0
22,66.0,2,10.5000,1,0,2,0,0
23,21.0,3,8.0500,1,0,2,0,0
24,14.0,3,11.2417,0,0,0,1,1
25,40.0,3,9.4750,0,0,2,1,0
26,27.0,2,21.0000,0,0,2,1,0
27,3.0,2,41.5792,0,2,0,1,1
28,18.0,3,18.0000,0,0,2,2,0
29,19.0,3,7.8792,0,0,1,0,1
30,38.0,1,71.2833,0,0,0,1,1
31,2.0,3,21.0750,1,1,2,3,0
32,18.0,3,17.8000,0,0,2,1,0
33,7.0,3,39.6875,1,1,2,4,0
34,49.0,1,76.7292,0,0,0,1,1
35,21.0,3,7.8000,1,0,2,0,0
36,29.0,2,26.0000,0,0,2,1,1
37,14.0,2,30.0708,0,0,0,1,1
38,65.0,1,61.9792,1,1,0,0,0
39,21.0,2,10.5000,0,0,2,0,1
40,26.0,3,7.9250,0,0,2,0,1
41,54.0,1,51.8625,1,0,2,0,0
42,26.0,3,8.6625,1,0,2,2,0
43,32.0,2,10.5000,1,0,2,0,0
44,21.0,2,73.5000,1,0,2,0,0
45,26.0,3,14.4542,1,0,0,1,0
46,17.0,3,7.9250,0,2,2,4,1
47,45.0,1,83.4750,1,0,2,1,0
48,16.0,3,46.9000,0,2,2,5,0
49,32.0,3,56.4958,1,0,2,0,1

In [59]:
# Pull out the survived column (only the data we want to correlate against)
df_x = df.drop(['survived'], axis=1)

In [60]:
# Only the survived column (the value we want to predict)
df_y = df['survived']

In [61]:
# Create a Least Squares Linear Regression object
reg = linear_model.LinearRegression()

In [62]:
# Split our dataset into a training set (80%) and a test set (20%)
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [63]:
# Fit a linear model to our training data
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [64]:
# Check our test set against our trained linear model
reg.predict(x_test)

array([ 0.11539484,  0.90271544,  0.57035024,  0.63352057,  0.01172327,
        0.01800834,  0.06378512,  0.62182568,  0.23796354,  0.71916517,
        1.02356223,  0.12115151,  0.55889098,  0.0294754 ,  0.82479006,
        0.45264152,  0.19836704,  0.3759118 ,  0.31355646,  0.22183264,
        0.44336354,  0.83162647,  0.61957421,  0.2443862 ,  0.38782189,
        0.83087677,  0.40299786,  0.24438707,  0.16732825,  0.09493174,
        0.61874023, -0.02928499, -0.08826717,  0.64469654,  0.59732346,
        0.03927108,  0.09652011,  0.14407889,  0.33575427,  0.56339801,
        0.85238449,  0.15566589,  0.64720588,  0.12115151,  0.12113096,
        0.44901703,  0.5885736 ,  0.20252592,  0.1326563 ,  0.31003879,
        0.68068162,  0.64536789,  0.03974376,  0.61607328,  0.00609504,
        0.56856501,  0.08091643,  0.07937081,  0.82713745,  0.950898  ,
        0.57283271,  0.51746255,  0.845916  ,  0.20614194,  0.64480443,
        0.76276758,  0.84160247,  0.11572537,  0.23575847,  0.74036174,
        0.15553317,  0.17162756,  0.7142957 ,  0.25059462,  0.12148119,
       -0.04078978,  0.37687851,  0.20699649,  0.55118714,  0.31387098,
        0.3820695 ,  0.87793894,  0.07505014,  0.74527929,  0.24751388,
        0.14419279,  0.02750939,  0.13823488,  0.785322  ,  0.16128556,
        0.04770106,  0.76970252,  0.10964672,  0.09814793,  0.71628897,
        0.14108165,  0.90965933,  0.84238156,  0.1326546 ,  0.20457545,
        0.21711669,  0.38078977,  0.25059462,  0.2436029 ,  0.33518191,
        0.1081298 ,  0.15018666,  0.8101361 ,  0.53516221,  0.26215909,
        0.88815928,  0.66823875,  0.38939141,  0.53518871,  0.97887538,
        0.68330104,  0.37122508, -0.07037902,  0.19425321,  0.4061484 ,
        0.17287256,  0.12074227,  0.84769297,  0.74951466,  0.23857605,
        0.6069391 ,  0.69202843,  0.53481044,  0.75659347,  0.16258501,
        0.82871559,  0.05788116,  0.80706308,  0.74356107,  0.13575221,
        1.05001092,  0.14843955, -0.06901836,  0.02505873,  0.18280612,
        0.31021567,  0.68662588,  0.74605276])

In [65]:
# Calculate mean squared error (should be ~0.13-0.15%)
mean_squared_error(y_test, reg.predict(x_test))

0.13166469521402552

In [68]:
# age: 25,
# class: 1,
# fare_paid: 45,
# gender: Y, (replace Y with the integer you assigned for 'male')
# parents_children: 0,
# point_of_embarkation: Z, (replace Z with the integer you assigned for 'C')
# siblings_spouse: 1

fake_passenger = [[25, 1, 45, 1, 0, 0, 1]]

In [73]:
# Use this output to verify your completion of this exercise
reg.predict(fake_passenger)

array([ 0.50169618])